name: Tests
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        odl: [v0.8.1, master]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: '3.11'
      - run: sudo apt-get install libhdf5-dev
      - run: pip install Cython numpy pkgconfig
      - name: Install ODL
        run: pip install https://github.com/odlgroup/odl/archive/${{ matrix.odl }}.zip
      - name: Build
        run: python setup.py build
      - name: Install
        run: python setup.py install
      - name: Tests
        run: python -m unittest discover test
